{% extends 'base.html' %}

{% block content %}
<style>
    h2{
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: rgb(0, 214, 214);
    padding-left: 100px;
  }
  
  p{
    font-variant: small-caps ;
    padding-left: 150px;
    font-size: 20px;
    color: aliceblue;
    text-align: justify;
    width: 800px;
  }
</style>

<h2> A propos de nous</h2>

<p>Notre équipe est composée de professionnels passionnés, oeuvrant tous à la recherche de soutions pour mieux préserver la vie marine et les activités humaines qui en dépendent dans un esprit d'ouverture, de dialogue et d'innovation.</p>
<h2>Notre mission</h2>
<p>Agir tous ensemble, pour retrouver un équilibre durable entre la vie marine et les activités humaines</p>
<h2>Nos Spécificités</h2>
<p>reproductibles sur d’autres territoires</p> 

<p>reprises et mises en œuvre par les politiques publiques (Fr, UE...).</p>

<p>Impliquer les parties prenantes : citoyens, pêcheurs, populations locales, scientifiques, élus…</p>

<p>En gardant une approche de Respect, Optimisme et Coopération</p>

{% endblock %}