{% extends 'base.html' %}

{% block content %}
<title></title>
  <style>
    form{
        padding-left: 150px;
        padding-right: 70%;
        color: #cce4ff;
        font-size: 15px;
    }
    #input_mail{
      width: 200px;
    }
    #input_pass{
      width: 200px;
    }
    
</style>

<h2>{% block text %} Créez votre compte: {% endblock %}</h2>

<form action = "{{url_for('register')}}"" method ="post">
  <div class="form-group">
      <div>
        <label for="email">Addresse mail:</label><br>
        <input type="email" name="email" placeholder="Entrez votre mail" required><br><br>
      </div>
      <div>
        <label for="password">Mot de passe:</label><br>
        <input id="input_pass" type="password" name="password" placeholder="Entrez votre mot de passe" required><br>
        <small >Votre mot de passe doit être d'au moins 8 caractères</small>
      </div><br><br

      <div>
          <input type="checkbox" class="form-check-input" id="check" required>
          <label class="form-check-label" for="check"><small>J'ai lu et j'accepte les conditions d'utilisation.</small></label>
      </div>
      <div>
          <input type="checkbox" class="form-check-input" id="check">
          <label class="form-check-label" for="check"><small>Je souhaite recevoir les offres partenaires.<small></small></label>
          <br>
          <input type="submit" value="Valider" />
      </div>
  </div>
</form>

{% endblock %}